.Footer {
    height: 50px;
    background-color: #F8FFF8;
    /* border: 1px solid #dadadf; */
    box-shadow: 0px 2px 5px #dadadf;
    /* margin-bottom: 0.25rem; */
}

.Navlink {
    padding-top: 0;
}

