.GalleryPost {
    background-color: #F8FFF8;
    box-shadow: 0px 2px 5px #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
.GalleryPost figure,
h5 {
    margin: 0 0;
  }
  
.Heart {
    color: #f85032;
  }
  
.Heart:hover {
    color: #2F4858;
  }
  
.HeartOutline:hover {
    color: #f85032;
  }

.Icon > i {
    color:#5EA13C;
    cursor: default;
  }