.WalkPost {
    background-color: #F8FFF8;
    box-shadow: 0px 2px 5px #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .WalkPost figure,
  h5 {
    margin: 0 0;
  }
  
  .Bookmark {
    color: #2F4858;
  }
  
  .Bookmark:hover {
    color: #2F4858;
  }
  
  .BookmarkOutline:hover {
    color: #2F4858;
  }

  .Headline {
    font-style: italic;
  }