.App {
    font-family: "Zilla Slab", sans-serif;
    background-color: #D9F4C7;
    min-height: 100vh;
}

.Main {
  padding-top: 81px;
}

* {
    box-sizing: border-box;
  } 
  
  a {
    font-size: larger;
    color: rgb(101, 101, 101);;
    font-weight:normal;
    text-decoration: none;
    padding: 7px;
    /* transition: color ease-in-out 0.3s; */
  }
  
  a:hover {
    text-decoration: none;
    color: #5EA13C;
  }
  
  a:hover i {
    color: #5EA13C;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: rgb(155, 153, 153);
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #5EA13C;
  }